<div class="container">
  <div class="page-header">
  <h1>Friends</h1>
</div>
</div>


<div class="container">
<div class="text-center">
<div class="row">
<div class="col-sm-12">


  <!-- <%= form_for User.new do |f| %> -->

  <div class="form-group">

<!--
# <%= form_for users_path , method: :get do |f|%>
# <%= f.text_field :email  %>
# <%= f.submit "Search" %>
# <% end %> -->
<%= form_tag users_path, method: :get, class: 'navbar-form navbar-left' do %>
   <div class='form-group'>
     <%= text_field_tag :query, params[:query], id: "navbar-search-input", class: 'form-control', placeholder: 'Friend Name.....' %>
   </div>
   <%= button_tag(type: 'submit', id: 'navbar-search-btn', class: 'btn btn-default') do %>
     <i class='fa fa-search fa-fw'></i> Search
   <% end %>
<% end %>
</div>
</div>

</div>
<% end %><br/>


<div class="panel panel-default">
<div class="panel-heading">
  <div class="container">
    <h4>My Friends List</h4>
  </div>
</div>
  <div class="panel-body" id="frindesPanelBody">
    <!-- <div class="row"> -->


            <div class="container">
              <!-- row of Friends -->

              <div class="row">
<% for friendship in current_user.friendships %>
              <div class="col-sm-3">
              <!-- <h4><%= friendship.friend.name%></h4> -->
              <img src="<%= friendship.friend.avatar%>" width="80px" height="80px" class="img-thumbnail" alt="img"/>




                <br>
                <%= h friendship.friend.name %>
                  <%= link_to "remove", friendship, :method => :delete %>
  </div>
                <% end %>






          </div>


</div>
  <!-- </div> -->

</div>
<p>
  <%= link_to "Find Friends", users_path %>
</p>
</div>
