<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <h1>Order Details</h1>
  <div class="container">
    <div class="col-sm-6" hidden="">
      <div class="row">
        <div class="col-sm-12">
          <a href="#" data-toggle="modal" data-target="#myModal">10 friends invited,click to view</a>
        </div>
        <a href="#">10 friends joined ,click to view</a>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Person</th>
              <th>Item</th>
              <th>Amount</th>
              <th>Price</th>
              <th>Comment</th>
              <th>Option</th>
            </tr>
          </thead>

          <tbody>

            <% @order_details.each do |order_detail| %>
            <tr val='<%=order_detail.id%>'>
              <td><%=order_detail.user.name%></td>
              <td><%=order_detail.item%></td>
              <td><%=order_detail.amount%></td>
              <td><%=order_detail.price%></td>
              <td><%=order_detail.comment%></td>
              <td><%if order_detail.user.id==current_user.id %>

                  <button type="button" name="button" id='<%=order_detail.id%>' class="btn btn-warning glyphicon glyphicon-remove"></button>

                  <%end%>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>

    </div>
    <br/>    <br/>    <br/>    <br/>    <br/>    <br/>    <br/>    <br/>    <br/>
    <%if @order.status%>
      <%=render 'form'%>
      <%end%>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Yalla_Notlob</h4>
        </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<br>
</body>
</html>
