<!-- <p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Password</th>
      <th>Reg type</th>
      <th>Token</th>
      <th>Img</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.password %></td>
        <td><%= user.reg_type %></td>
        <td><%= user.token %></td>
        <td><%= user.img %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %> -->

<h1>List All Users</h1>

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3">Action</th>

    </tr>
  </thead>

  <tbody>
    <% @users.each do |user, i| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <% friend_status = current_user.friendships.exists?(:friend_id =>user.id, :user_id => current_user.id)  ? true : false %>
        <% if(friend_status) %>
        <% friendship_id = current_user.friendships.where("friend_id = ? AND user_id = ?", user.id, current_user.id).first.id %>
          <td >
    <%= link_to "Remove Friend", friendship_path(friendship_id), :method => :delete %></td>
          <!-- <td class="table-success">Already Friends</td> -->
        <% elsif(current_user.id==user.id) %>
          <td>You</td>
        <% else %>
          <td><%= link_to 'Add Friend', friendships_path(:friend_id => user), :method => :post %></td>
        <% end %>
        <td><%= link_to 'Show', user %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
