<div class="container">
  <div class="form-group col-sm-8 pull-left">
    <h1>Add Order</h1>
    <%= form_for [@user,@order] do |f| %>
    <div class="errors">
      <% if order.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

        <ul>
          <% order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
    </div>

    <%= f.label :meal %>
    <%= f.select :meal, {Breakfast: "Breakfast", Lunch: "Lunch" , Dinner: "Dinner"} %>
    <br>
    <br>

    <%= f.label :rest_name, {class: "control-label", value: "From"}%>
    <%= f.text_field :rest_name, {class: "form-control",placeholder: "Resturant name"} %>
    <br>
    <br>

    <label for="add-friend">Invite Friends</label>
    <input type="text" name="friends" id="invite_friend" class="form-control" placeholder="Friend's name.. then press Space">
    <br>
    <br>

    <!-- Field for image upload -->
    <label>Upload Menu Image
    <div class="form-group">
      <%= f.label :menu_img do %><br />
      <%= f.file_field :menu_img, class: "form-control" %>
      <%= f.hidden_field :menu_img_cache %>
      <% end %>
    </div>
    </label>
    <br>


    <div id="invites-area"></div>
    <div id="groups-area"></div>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.submit "Add Order", {class: "btn btn-info", id: "submit"} %>
    <% end %>
  </div>
  <div class="col-sm-4">

    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="container">
          <h4>Friends to Invite</h4>
        </div>
      </div>
      <div class="panel-body" id="frindesPanelBody">
        <div id='friends' class="row">
          <div class="col-sm-3">

          </div>
        </div>
      </div>
    </div>
