<p id="notice"><%= notice %></p>
<h1>Orders</h1>
<div id="add_new_order">
  <%= link_to 'Start New Order', new_user_order_path , :style=>'display: none;'%>
  <button type="button" class="btn btn-info">Start New Order</button>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>order id</th>
      <th>Type</th>
      <th>Restrant</th>
      <th>status</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
    <tr>
      <td><%= order.id %></td>
      <td><%= order.meal %></td>
      <td><%= order.rest_name %></td>
      <td><%= order.status ? "waiting" : "finished"  %></td>
      <td>
        <%= link_to ' Show Order Details ', user_order_order_details_path(user_id: current_user, order_id: order), class: "btn btn-default"  %>
        <%= order.status ? (link_to ' Finish ' , user_order_path(id: order), method: :patch, data: { confirm: 'Are you sure?' } ,class: "btn btn-default") : " "  %>
        <%= order.status ? (link_to ' Cancel ' , user_order_path(id: order), method: :delete, data: { confirm: 'Are you sure?' } ,class: "btn btn-default") : " "  %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>
