<!-- <p id="notice"><%= notice %></p>

<p>
  <strong>Meal:</strong>
  <%= @order.meal %>
</p>

<p>
  <strong>Rest name:</strong>
  <%= @order.rest_name %>
</p>

<p>
  <strong>Menu img:</strong>
  <%= @order.menu_img %>
</p>

<p>
  <strong>User:</strong>
  <%= @order.user %>
</p> -->

<%= link_to 'Edit', edit_order_path(@order) %>
<%= link_to 'Back', orders_path %>
